@import "reset.css";
@import "common.css";

/* css variables */

/* hero  */
.hero {
  min-height: 300px;
  background-color: #f4f4f4;
}
.hero h2 {
  text-transform: uppercase;
  font-weight: normal;
  color: dodgerblue;
}
.hero p {
  color: dodgerblue;
}
/* main */
