@mixin centerFlex($color) {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color;
}

main {
  background-color: #935d8c;
  min-height: 100vh;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  .main-nav__link {
    padding: 25px;
    background-color: white;
    display: block;
  }
}

button {
  font-size: 50px;
  &:hover {
    font-size: 60px;
  }
}
